@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body {
  background: url("../images/sunflowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  width: 120px;
  position: relative;
  top: 250px;
  left: 1150px;
}

.image-container img {
  width: 100%;
  border-radius: 50%;
}

.image-container2 {
  width: 80px;
  position: absolute;
  top: 5px;
  left: 1000px;
}

.image-container2 img {
  width: 100%;
  border-radius: 50%;
}

.target-info,
.hint {
  font-size: 1.1rem;
  width: fit-content;
  position: absolute;
}

.target-info {
  top: 0px;
  left: 1100px;
}

.hint {
  top: 30px;
  left: 1100px;
}

.hint i:hover {
  cursor: pointer;
}

.hint-content {
  width: fit-content;
  display: none;
  font-size: 1rem;
  border-left: 2px solid black;
  padding-left: 10px;
}

.hint-content.movement {
  position: absolute;
  top: 60px;
  left: 1100px;
}

.hint-content.pollen {
  position: absolute;
  top: 90px;
  left: 1100px;
}
